
VisualVersionofService/obj/Debug/VisualVersionofService.csprojAssemblyReference.cache
VisualVersionofService/obj/Debug/VisualVersionofService.csproj.CoreCompileInputs.cache
VisualVersionofService/obj/Debug/VisualVersionofService.csproj.CoreCompileInputs.cache
.vs/VisualVersionofService/v16/.suo
.vs/VisualVersionofService/v16/Server/sqlite3/db.lock
.vs/VisualVersionofService/v16/Server/sqlite3/storage.ide
.vs/VisualVersionofService/v16/Server/sqlite3/storage.ide-shm
.vs/VisualVersionofService/v16/Server/sqlite3/storage.ide-wal
VisualVersionofService/obj/Debug/VisualVersionofService.csprojAssemblyReference.cache
VisualVersionofService/obj/Debug/VisualVersionofService.csproj.CoreCompileInputs.cache
VisualVersionofService/obj/Debug/VisualVersionofService.pdb
VisualVersionofService/obj/Debug/VisualVersionofService.csprojAssemblyReference.cache
VisualVersionofService/obj/Debug/VisualVersionofService.exe
VisualVersionofService/obj/Debug/VisualVersionofService.pdb
VisualVersionofService/bin/Debug/VisualVersionofService.exe
VisualVersionofService/bin/Debug/VisualVersionofService.pdb
