<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MainTopicName" value="SNPQA" />
    <!-- Topic that all SNP Messages have to come in from -->
    <add key="BrokerIP" value="tcp://10.197.10.32:61616" />
    <!-- Ip of the broker we are connecting to to receive messages -->
    <add key="ENGDBIP" value="10.197.10.37" />
    <!-- IP of the engineering database SNP is reporting to -->
    <add key="ENGDBUser" value="SNPUser" />
    <!-- Username used for comunication to the Engineering Database server -->
    <add key="ENGDBPassword" value="Osram$Pac$User" />
    <!-- Passowrd used for comunication to the Engineering database server -->
    <add key="ENGDBDatabase" value="SNPDB" />
    <!-- Database that stores the MachineInfoTable -->
  </appSettings>
</configuration>