<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CamstarIP" value="10.197.10.33" />
    <add key="CamstarPort" value="2881" />
    <add key="CamstarUsername" value="d.paddock" />
    <add key="CamstarPassword" value="Arcturusmengsk!2" />
    <add key="MDEIP" value="10.197.18.163" />
    <add key="MDEClientPort" value="11000" />
    <add key="MDEOutPort" value="12000" />
    <add key="LogggingLevel" value="5" />
    <add key="Listening" value="1" />
    <add key="Sending" value="1" />
  </appSettings>
</configuration>