<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="CamstarIP" value="10.197.10.33" />
    <!-- The ip of the Camstar server you are talking to -->
    <add key="CamstarPort" value="2881" />
    <!-- The port of the Camstar Server you are talking to -->
    <add key="CamstarUsername" value="sys_hil-SNP" />
    <!-- The username Login for the Camstar Server you are talking to -->
    <add key="CamstarPassword" value="" />
    <!-- The Password Login for the Camstar Server you are talking to -->
    <add key="MDEIP" value="10.197.18.163" />
    <!-- The IP of the MDE System ( was used for UDP currently depreciated but good to hold onto) -->
    <add key="MDEClientPort" value="11000" />
    <!-- The Receiving port of the MDE System ( was used for UDP currently deprecieted but good to hold onto)-->
    <add key="MDEOutPort" value="12000" />
    <!-- The sending port of the system to MDE ( was used for UDP currently deprecieted but good to hold onto -->
    <add key="LogggingLevel" value="0" />
    <!-- The level of logging requested on startup. 5 is the highest 1 will only logg errors (0 logs nothing) -->
    <add key="Listening" value="1" />
    <!-- 1 will allow the service to hear non control packets on startup 0 will deafen it-->
    <add key="Sending" value="1" />
    <!-- 1 will allow the service to send messages on startup 0 will silence it -->
    <add key="DiagnosticFile" value="C:\\Users\\d.paddock\\Desktop\\Diagnostic.csv" />
    <!-- the diagnostic file output. remember to do double slashes as it is a string -->
    <add key="MainTopicName" value="SNPQA" />
    <!-- Topic that all SNP Messages have to come in from -->
    <add key="BrokerIP" value="tcp://10.197.10.32:61616" />
    <!-- Ip of the broker we are connecting to to receive messages -->
    <add key="ClientID" value="SNPService" />
    <!-- Client ID of the SNP Service -->
    <add key="ConsumerID" value="SNPService" />
    <!-- Consumer ID of the SNP Service -->
    <add key="ENGDBIP" value="10.197.10.37" />
    <!-- IP of the engineering database SNP is reporting to -->
    <add key="ENGDBUser" value="SNPUser" />
    <!-- Username used for comunication to the Engineering Database server -->
    <add key="ENGDBPassword" value="" />
    <!-- Passowrd used for comunication to the Engineering database server -->
    <add key="ENGDBDatabase" value="SNPDB" />
    <!-- Database that stores the MachineInfoTable -->
    <add key="QRQCDatabase" value="QRQC" />
    <!-- Database that QRQC Uses. -->
    <add key="camProductTable" value="[ODS].[CamstarSch].[Product]" />
    <!-- Table Camstar stores Product Information in-->
    <add key="camProductBaseTable" value="[ODS].[CamstarSch].[ProductBase]" />
    <!-- Table Camstar uses to store base Product information -->
    <add key="DBCamstarConnectionString" value="Data Source=DBM-HILCS2;" />
    <!-- string used to conect to the Camstar DB-->
    <add key="QRQC_ProductNameId_view" value="[QRQC].[dbo].[QRQC_ProductNameId_view]" />
    <!-- QRQC ProductNameID View used to turn Naeds into Product ID's from mde's world-->
    <add key="speedTable" value="[QRQC].[dbo].[QRQC_CycleTimes_view]" />
    <!-- table of how fast machines Index-->
    <add key="QRQC_Service_SERVERIP" value="10.197.10.26" />
    <!--  This is the IP of the QRQC Service. this is used for updating QRQC on the fly when upstate changes.-->
    <add key="ResetENGDBPassword" value="Osram$Pac$User" />
    <!-- if this is not empty the password will be reset to an encrypted version of this text on next startup.Then this feild will be cleared-->
    <add key="ResetCamstarPassword" value="NotPac@dm1n!" />
    <!-- if this is not empty the password will be reset to an encrypted version of this text on next startup.Then this feild will be cleared -->
    <add key="UDPListeningEnabled" value="0" />
    <!-- if set to 1 A UDP Listener will be setup on the port below and be able to feed the same packets as the MQTT lsitener-->
    <add key="UDPPort" value="25525" />
    <!-- This is the port of the optional UDPListener.-->
    <add key="QRQCConnectionString" value= "Data Source=DBM-HILCSQAENG1;Initial Catalog=QRQC;User Id= camstaruser; Password= c@mst@rus3r;" />
    <!-- This is the port of the optional UDPListener.-->
    <add key="IsProd" value="0" />
    <!-- This is the port of the optional UDPListener.-->
    <add key="ForwardTopic" value= "SNPProd" />
    <!-- This is the port of the optional UDPListener.-->
  </appSettings>
</configuration>