<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CamstarIP" value="10.197.10.32" />
    <!-- The ip of the Camstar server you are talking to -->
    <add key="CamstarPort" value="2881" />
    <!-- The port of the Camstar Server you are talking to -->
    <add key="CamstarUsername" value="d.paddock" />
    <!-- The username Login for the Camstar Server you are talking to -->
    <add key="CamstarPassword" value="Arcturusmengsk!2" />
    <!-- The Password Login for the Camstar Server you are talking to -->
    <add key="MDEIP" value="10.197.18.163" />
    <!-- The IP of the MDE System ( was used for UDP currently depreciated but good to hold onto) -->
    <add key="MDEClientPort" value="11000" />
    <!-- The Receiving port of the MDE System ( was used for UDP currently deprecieted but good to hold onto)-->
    <add key="MDEOutPort" value="12000" />
    <!-- The sending port of the system to MDE ( was used for UDP currently deprecieted but good to hold onto -->
    <add key="LogggingLevel" value="5" />
    <!-- The level of logging requested on startup. 5 is the highest 1 will only logg errors (0 logs nothing) -->
    <add key="Listening" value="1" />
    <!-- 1 will allow the service to hear non control packets on startup 0 will deafen it-->
    <add key="Sending" value="1" />
    <!-- 1 will allow the service to send messages on startup 0 will silence it -->
    <add key="DiagnosticFile" value="C:\\Users\\d.paddock\\Desktop\\Diagnostic.csv" />
    <!-- the diagnostic file output. remember to do double slashes as it is a string -->
    <add key="MainTopicName" value="SNP.Inbound" />
    <!-- Topic that all SNP Messages have to come in from -->
    <add key="BrokerIP" value="tcp://10.197.10.32:61616" />
    <!-- Ip of the broker we are connecting to to receive messages -->
    <add key="ClientID" value="SNPService" />
    <!-- Client ID of the SNP Service -->
    <add key="ConsumerID" value="SNPService" />
    <!-- Consumer ID of the SNP Service -->
    <add key="ENGDBIP" value="10.197.10.37" />
    <!-- IP of the engineering database SNP is reporting to -->
    <add key="ENGDBUser" value="camstaruser" />
    <!-- Username used for comunication to the Engineering Database server -->
    <add key="ENGDBPassword" value="c@mst@rus3r" />
    <!-- Passowrd used for comunication to the Engineering database server -->
    <add key="ENGDBDatabase" value="Pac-LiteDb " />
    <!-- Database that stores the MachineInfoTable -->
    <add key="QRQCDatabase" value="QRQC" />
    <!-- Database that stores the MachineInfoTable -->
    <add key="refreshRate" value="5" />
    <!-- Kasu's code no idea which is needed -->
    <add key="camProductTable" value="[ODS].[CamstarSch].[Product]" />
    <add key="camProductBaseTable" value="[ODS].[CamstarSch].[ProductBase]" />
    <add key="DBCamstarConnectionString" value="Data Source=DBM-HILCS2;" />
    <add key="QRQC_ProductNameId_view" value="[QRQC].[dbo].[QRQC_ProductNameId_view]" />
    <add key="speedTable" value="[QRQC].[dbo].[QRQC_CycleTimes_view]" />
    <add key="DBConnectionStringA" value="Data Source=DBM-HILCSQAENG1;" />
  </appSettings>
</configuration>